li{
    list-style: none;
    display: inline-block;
}

h2{
    display: inline-block;
}

.catergories--item{
    padding: 0 5px;
}

.products--container{
    margin-top: 20px;
}

.products--item{
    display: block;
    margin-top: 3px;
    font-size: 12px;
}

.products--item--description{
    display: none;
}

.focused{
    text-decoration: underline;
}
